home_assistant/node-red-lights-flow.json
[
    {
        "id": "0a08bd0e3c4c5a66",
        "type": "tab",
        "label": "Lobby Lights",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "49def34d670c911a",
        "type": "mqtt out",
        "z": "0a08bd0e3c4c5a66",
        "name": "Lobby Lights On",
        "topic": "hq/lobby_lights/on",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "08930249a447d432",
        "x": 620,
        "y": 120,
        "wires": []
    },
    {
        "id": "6fee43f648d8c186",
        "type": "mqtt out",
        "z": "0a08bd0e3c4c5a66",
        "name": "Lobby Lights Off",
        "topic": "hq/lobby_lights/off",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "08930249a447d432",
        "x": 620,
        "y": 280,
        "wires": []
    },
    {
        "id": "8bbfa0e10cafa333",
        "type": "mqtt in",
        "z": "0a08bd0e3c4c5a66",
        "name": "Lobby Lights Set",
        "topic": "hq/lobby_lights/set",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "08930249a447d432",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 240,
        "wires": [
            [
                "59974a06307172bf"
            ]
        ]
    },
    {
        "id": "59974a06307172bf",
        "type": "switch",
        "z": "0a08bd0e3c4c5a66",
        "name": "On/Off Switch",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 320,
        "y": 240,
        "wires": [
            [
                "49def34d670c911a",
                "3fe3c65ce5f3cbe0"
            ],
            [
                "6fee43f648d8c186",
                "1dd2fd2e3d452475"
            ]
        ]
    },
    {
        "id": "a7d52569f184485d",
        "type": "mqtt out",
        "z": "0a08bd0e3c4c5a66",
        "name": "Publish ON state",
        "topic": "hq/lobby_lights/state",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "08930249a447d432",
        "x": 770,
        "y": 200,
        "wires": []
    },
    {
        "id": "a9c32c0ab11e1f76",
        "type": "mqtt out",
        "z": "0a08bd0e3c4c5a66",
        "name": "Publish OFF state",
        "topic": "hq/lobby_lights/state",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "08930249a447d432",
        "x": 770,
        "y": 360,
        "wires": []
    },
    {
        "id": "3fe3c65ce5f3cbe0",
        "type": "function",
        "z": "0a08bd0e3c4c5a66",
        "name": "Payload On",
        "func": "msg.payload = \"on\";\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 200,
        "wires": [
            [
                "a7d52569f184485d"
            ]
        ]
    },
    {
        "id": "1dd2fd2e3d452475",
        "type": "function",
        "z": "0a08bd0e3c4c5a66",
        "name": "Payload Off",
        "func": "msg.payload = \"off\";\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 360,
        "wires": [
            [
                "a9c32c0ab11e1f76"
            ]
        ]
    },
    {
        "id": "bd25ac232e832be8",
        "type": "inject",
        "z": "0a08bd0e3c4c5a66",
        "name": "Turn On Lobby Lights at 7am",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "00 07 * * 1,2,3,4,5",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "iso",
        "payloadType": "date",
        "x": 170,
        "y": 580,
        "wires": [
            [
                "91223221194a8831",
                "4c451162a561db20"
            ]
        ]
    },
    {
        "id": "91223221194a8831",
        "type": "mqtt out",
        "z": "0a08bd0e3c4c5a66",
        "name": "Lobby Lights On",
        "topic": "hq/lobby_lights/on",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "08930249a447d432",
        "x": 460,
        "y": 500,
        "wires": []
    },
    {
        "id": "8a15796275dc4ebf",
        "type": "mqtt out",
        "z": "0a08bd0e3c4c5a66",
        "name": "Publish ON state",
        "topic": "hq/lobby_lights/state",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "08930249a447d432",
        "x": 610,
        "y": 580,
        "wires": []
    },
    {
        "id": "4c451162a561db20",
        "type": "function",
        "z": "0a08bd0e3c4c5a66",
        "name": "Payload On",
        "func": "msg.payload = \"on\";\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 580,
        "wires": [
            [
                "8a15796275dc4ebf"
            ]
        ]
    },
    {
        "id": "6b0b5a1882366a94",
        "type": "inject",
        "z": "0a08bd0e3c4c5a66",
        "name": "Turn Off Lobby Lights 5pm",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "00 17 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "iso",
        "payloadType": "date",
        "x": 160,
        "y": 780,
        "wires": [
            [
                "68f82a1349bc1159",
                "1ee6284971563c4c"
            ]
        ]
    },
    {
        "id": "68f82a1349bc1159",
        "type": "mqtt out",
        "z": "0a08bd0e3c4c5a66",
        "name": "Lobby Lights Off",
        "topic": "hq/lobby_lights/off",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "08930249a447d432",
        "x": 400,
        "y": 700,
        "wires": []
    },
    {
        "id": "c636a95ba615de86",
        "type": "mqtt out",
        "z": "0a08bd0e3c4c5a66",
        "name": "Publish OFF state",
        "topic": "hq/lobby_lights/state",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "08930249a447d432",
        "x": 570,
        "y": 780,
        "wires": []
    },
    {
        "id": "1ee6284971563c4c",
        "type": "function",
        "z": "0a08bd0e3c4c5a66",
        "name": "Payload Off",
        "func": "msg.payload = \"off\";\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 780,
        "wires": [
            [
                "c636a95ba615de86"
            ]
        ]
    },
    {
        "id": "5f4b30f3a3230c5c",
        "type": "server-state-changed",
        "z": "0a08bd0e3c4c5a66",
        "name": "Lobby Motion Detected",
        "server": "8e65558a.e0f228",
        "version": 6,
        "outputs": 2,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "binary_sensor.hq_lobby_east_motion_sensor_occupancy",
                "binary_sensor.hq_lobby_west_motion_sensor_occupancy",
                "binary_sensor.hq_lobby_east_hue_motion_sensor_occupancy",
                "binary_sensor.hq_lobby_west_hue_motion_sensor_occupancy"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "on",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": false,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 120,
        "y": 1020,
        "wires": [
            [
                "434a4b17f839fae9"
            ],
            []
        ]
    },
    {
        "id": "59c8294617b28e1b",
        "type": "mqtt out",
        "z": "0a08bd0e3c4c5a66",
        "name": "Lobby Lights On",
        "topic": "hq/lobby_lights/on",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "08930249a447d432",
        "x": 620,
        "y": 920,
        "wires": []
    },
    {
        "id": "4b95de65c6aab1cf",
        "type": "mqtt out",
        "z": "0a08bd0e3c4c5a66",
        "name": "Publish ON state",
        "topic": "hq/lobby_lights/state",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "08930249a447d432",
        "x": 810,
        "y": 1000,
        "wires": []
    },
    {
        "id": "a8ccf46b100f8dd9",
        "type": "function",
        "z": "0a08bd0e3c4c5a66",
        "name": "Payload On",
        "func": "msg.payload = \"on\";\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 1000,
        "wires": [
            [
                "4b95de65c6aab1cf"
            ]
        ]
    },
    {
        "id": "64335f52674235d1",
        "type": "mqtt in",
        "z": "0a08bd0e3c4c5a66",
        "name": "HQ Lobby Lights Button 1",
        "topic": "zigbee2mqtt/HQ Lobby Lights Button 1/action",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "08930249a447d432",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 1640,
        "wires": [
            [
                "ecfe00652fca4101"
            ]
        ]
    },
    {
        "id": "ecfe00652fca4101",
        "type": "switch",
        "z": "0a08bd0e3c4c5a66",
        "name": "On/Off Switch",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 400,
        "y": 1660,
        "wires": [
            [
                "f85f5572c1fec7be"
            ],
            [
                "07d4bc303624ade9"
            ]
        ]
    },
    {
        "id": "1a82a5b1ae68d48c",
        "type": "mqtt out",
        "z": "0a08bd0e3c4c5a66",
        "name": "Lobby Lights On",
        "topic": "hq/lobby_lights/on",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "08930249a447d432",
        "x": 1240,
        "y": 1520,
        "wires": []
    },
    {
        "id": "fa735f5827674752",
        "type": "mqtt out",
        "z": "0a08bd0e3c4c5a66",
        "name": "Lobby Lights Off",
        "topic": "hq/lobby_lights/off",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "08930249a447d432",
        "x": 1240,
        "y": 1680,
        "wires": []
    },
    {
        "id": "2e8393446003deea",
        "type": "mqtt out",
        "z": "0a08bd0e3c4c5a66",
        "name": "Publish ON state",
        "topic": "hq/lobby_lights/state",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "08930249a447d432",
        "x": 1390,
        "y": 1600,
        "wires": []
    },
    {
        "id": "5380c33a552c38e7",
        "type": "mqtt out",
        "z": "0a08bd0e3c4c5a66",
        "name": "Publish OFF state",
        "topic": "hq/lobby_lights/state",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "08930249a447d432",
        "x": 1390,
        "y": 1760,
        "wires": []
    },
    {
        "id": "62ec684eb3b151e0",
        "type": "function",
        "z": "0a08bd0e3c4c5a66",
        "name": "Payload On",
        "func": "msg.payload = \"on\";\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 1600,
        "wires": [
            [
                "2e8393446003deea"
            ]
        ]
    },
    {
        "id": "9ddc8e0a54a5bf02",
        "type": "function",
        "z": "0a08bd0e3c4c5a66",
        "name": "Payload Off",
        "func": "msg.payload = \"off\";\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 1760,
        "wires": [
            [
                "5380c33a552c38e7"
            ]
        ]
    },
    {
        "id": "acf72a688f09159c",
        "type": "mqtt in",
        "z": "0a08bd0e3c4c5a66",
        "name": "HQ Lobby Lights Button 2",
        "topic": "zigbee2mqtt/HQ Lobby Lights Button 2/action",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "08930249a447d432",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 1700,
        "wires": [
            [
                "ecfe00652fca4101"
            ]
        ]
    },
    {
        "id": "0ca333f9e5ac1daf",
        "type": "mqtt in",
        "z": "0a08bd0e3c4c5a66",
        "name": "HQ Lobby Lights Public Button",
        "topic": "zigbee2mqtt/HQ Lobby Lights Public Button/action",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "08930249a447d432",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 2140,
        "wires": [
            [
                "c95b8de397e62c2d"
            ]
        ]
    },
    {
        "id": "c95b8de397e62c2d",
        "type": "switch",
        "z": "0a08bd0e3c4c5a66",
        "name": "On/Off Switch",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "single",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "double",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 400,
        "y": 2140,
        "wires": [
            [
                "3d2de16fa35e7869",
                "08fb29f49b508c55"
            ],
            [
                "746168262b868926",
                "d40b3f5cb3923d2e"
            ]
        ]
    },
    {
        "id": "3d2de16fa35e7869",
        "type": "mqtt out",
        "z": "0a08bd0e3c4c5a66",
        "name": "Lobby Lights On",
        "topic": "hq/lobby_lights/on",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "08930249a447d432",
        "x": 660,
        "y": 2000,
        "wires": []
    },
    {
        "id": "746168262b868926",
        "type": "mqtt out",
        "z": "0a08bd0e3c4c5a66",
        "name": "Lobby Lights Off",
        "topic": "hq/lobby_lights/off",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "08930249a447d432",
        "x": 660,
        "y": 2160,
        "wires": []
    },
    {
        "id": "e36c21b45a999729",
        "type": "mqtt out",
        "z": "0a08bd0e3c4c5a66",
        "name": "Publish ON state",
        "topic": "hq/lobby_lights/state",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "08930249a447d432",
        "x": 810,
        "y": 2080,
        "wires": []
    },
    {
        "id": "14ee827c3b74e595",
        "type": "mqtt out",
        "z": "0a08bd0e3c4c5a66",
        "name": "Publish OFF state",
        "topic": "hq/lobby_lights/state",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "08930249a447d432",
        "x": 810,
        "y": 2240,
        "wires": []
    },
    {
        "id": "08fb29f49b508c55",
        "type": "function",
        "z": "0a08bd0e3c4c5a66",
        "name": "Payload On",
        "func": "msg.payload = \"on\";\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 2080,
        "wires": [
            [
                "e36c21b45a999729"
            ]
        ]
    },
    {
        "id": "d40b3f5cb3923d2e",
        "type": "function",
        "z": "0a08bd0e3c4c5a66",
        "name": "Payload Off",
        "func": "msg.payload = \"off\";\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 2240,
        "wires": [
            [
                "14ee827c3b74e595"
            ]
        ]
    },
    {
        "id": "7960ef279dc6f55a",
        "type": "inject",
        "z": "0a08bd0e3c4c5a66",
        "name": "Everyday Interval Lights Shutoff 5pm-11pm",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "*/30 17-22 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "iso",
        "payloadType": "date",
        "x": 210,
        "y": 2420,
        "wires": [
            [
                "6733deaeb93b29fa",
                "9b8c46d265a23f7e"
            ]
        ]
    },
    {
        "id": "450b204b63dd881c",
        "type": "inject",
        "z": "0a08bd0e3c4c5a66",
        "name": "Everyday Interval Lights Shutoff 1am-7am",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "*/30 1-6 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "iso",
        "payloadType": "date",
        "x": 210,
        "y": 2500,
        "wires": [
            [
                "6733deaeb93b29fa",
                "9b8c46d265a23f7e"
            ]
        ]
    },
    {
        "id": "ace0207d9bd9fb1f",
        "type": "inject",
        "z": "0a08bd0e3c4c5a66",
        "name": "Weekend Interval Lights Shutoff 8am-4pm",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "*/30 7-15 * * 6,0",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "iso",
        "payloadType": "date",
        "x": 210,
        "y": 2580,
        "wires": [
            [
                "6733deaeb93b29fa",
                "9b8c46d265a23f7e"
            ]
        ]
    },
    {
        "id": "6733deaeb93b29fa",
        "type": "mqtt out",
        "z": "0a08bd0e3c4c5a66",
        "name": "Lobby Lights Off",
        "topic": "hq/lobby_lights/off",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "08930249a447d432",
        "x": 640,
        "y": 2460,
        "wires": []
    },
    {
        "id": "975bf27298d7bf72",
        "type": "mqtt out",
        "z": "0a08bd0e3c4c5a66",
        "name": "Publish OFF state",
        "topic": "hq/lobby_lights/state",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "08930249a447d432",
        "x": 790,
        "y": 2540,
        "wires": []
    },
    {
        "id": "9b8c46d265a23f7e",
        "type": "function",
        "z": "0a08bd0e3c4c5a66",
        "name": "Payload Off",
        "func": "msg.payload = \"off\";\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 2540,
        "wires": [
            [
                "975bf27298d7bf72"
            ]
        ]
    },
    {
        "id": "434a4b17f839fae9",
        "type": "api-current-state",
        "z": "0a08bd0e3c4c5a66",
        "name": "Lobby Lights Toggle",
        "server": "8e65558a.e0f228",
        "version": 3,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.hq_lobby_motion_detection",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 360,
        "y": 1020,
        "wires": [
            [
                "59c8294617b28e1b",
                "a8ccf46b100f8dd9"
            ],
            []
        ]
    },
    {
        "id": "f85f5572c1fec7be",
        "type": "api-call-service",
        "z": "0a08bd0e3c4c5a66",
        "name": "Disable Motion Detection",
        "server": "8e65558a.e0f228",
        "version": 7,
        "debugenabled": false,
        "action": "input_boolean.turn_off",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_boolean.hq_lobby_motion_detection"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "input_boolean",
        "service": "turn_off",
        "x": 610,
        "y": 1600,
        "wires": [
            [
                "1a82a5b1ae68d48c",
                "62ec684eb3b151e0",
                "bdef7248f853645a"
            ]
        ]
    },
    {
        "id": "7917ad1287328c63",
        "type": "api-call-service",
        "z": "0a08bd0e3c4c5a66",
        "name": "Enable Motion Detection",
        "server": "8e65558a.e0f228",
        "version": 7,
        "debugenabled": false,
        "action": "input_boolean.turn_on",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_boolean.hq_lobby_motion_detection"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "input_boolean",
        "service": "turn_on",
        "x": 890,
        "y": 1440,
        "wires": [
            []
        ]
    },
    {
        "id": "bdef7248f853645a",
        "type": "delay",
        "z": "0a08bd0e3c4c5a66",
        "name": "1 Hour Delay",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "hours",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 730,
        "y": 1520,
        "wires": [
            [
                "7917ad1287328c63"
            ]
        ]
    },
    {
        "id": "07d4bc303624ade9",
        "type": "api-call-service",
        "z": "0a08bd0e3c4c5a66",
        "name": "Disable Motion Detection",
        "server": "8e65558a.e0f228",
        "version": 7,
        "debugenabled": false,
        "action": "input_boolean.turn_off",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_boolean.hq_lobby_motion_detection"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "input_boolean",
        "service": "turn_off",
        "x": 590,
        "y": 1740,
        "wires": [
            [
                "38564d200ddda507",
                "fa735f5827674752",
                "9ddc8e0a54a5bf02"
            ]
        ]
    },
    {
        "id": "38564d200ddda507",
        "type": "delay",
        "z": "0a08bd0e3c4c5a66",
        "name": "1 Hour Delay",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "hours",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 770,
        "y": 1800,
        "wires": [
            [
                "25540777839af888"
            ]
        ]
    },
    {
        "id": "25540777839af888",
        "type": "api-call-service",
        "z": "0a08bd0e3c4c5a66",
        "name": "Enable Motion Detection",
        "server": "8e65558a.e0f228",
        "version": 7,
        "debugenabled": false,
        "action": "input_boolean.turn_on",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_boolean.hq_lobby_motion_detection"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "input_boolean",
        "service": "turn_on",
        "x": 930,
        "y": 1860,
        "wires": [
            []
        ]
    },
    {
        "id": "08930249a447d432",
        "type": "mqtt-broker",
        "name": "HQ MQTT",
        "broker": "192.168.0.2",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "8e65558a.e0f228",
        "type": "server",
        "name": "Home Assistant",
        "addon": true
    }
]
